@font-face {
  font-family: MoonTime-Regular;
  src: url('fonts/MoonTime-Regular.ttf');
}

@font-face {
  font-family: GlacialIndifference-Regular;
  src: url('fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: CinzelDecorative-Regular;
  src: url('fonts/CinzelDecorative-Regular.ttf');
}

@font-face {
  font-family: Bartleen;
  src: url('fonts/Bartleen Script.otf');
}

  @font-face {
    font-family: Noteworthy-bold;
    src: url('fonts/Noteworthy-Bold.ttf'); 
  }

  @font-face {
    font-family: Noteworthy-light;
    src: url('fonts/Noteworthy-Light.ttf'); 
  }
