@font-face {
  font-family: MoonTime-Regular;
  src: url('fonts/MoonTime-Regular.ttf');
}

@font-face {
  font-family: GlacialIndifference-Regular;
  src: url('fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: CinzelDecorative-Regular;
  src: url('fonts/CinzelDecorative-Regular.ttf');
}